/*Color Wheel
offwhite - #F8f8f8
*/
*{
  box-sizing: border-box;
}

/*------Base Styles------*/
body{
  background-color: #F8f8f8;
  font-family: 'Neuton', sans-serif;
  font-size: 1em;
  text-rendering: optimizeLegibility;
}

main{
  background-color: #fff;
}

h1,
h2,
h3,
p,
.main-nav li{
  text-align: center;
}

.header-wrapper,
.main-wrapper,
.footer-wrapper{
  max-width: 75em;
  margin: 0 auto;
}

.container{
  margin: 0 auto;

}

img{
  display: block;
}

.main-img{
  margin-top: 4em;
}

.main-img,
.images{
  max-width: 20em;
  margin: 0 auto;
}

.main-nav li{
  list-style-type: none;
  background-color: #fff;
  margin-bottom: .3em;
  padding: .8em;
}

.main-nav li a{
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
}




@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {


}
