/*Color Wheel
offwhite - #F8f8f8 Header background
darkgold - #69501D Main background & Header border
lightgrey - #d4d4d4 Section background
white    - #fff     Image Borders

*/

/*------Global Styles---------*/

*{
  box-sizing: border-box;
}

/*------Base Element Styles------*/
body{
  margin: 0 0;
  background-color: #F8f8f8;
  font-family: 'Neuton', sans-serif;
  font-size: 1em;
  text-rendering: optimizeLegibility;
}

main{
  background-color: #69501D;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 1em;
}

section{
  background-color: #d4d4d4;
  padding: 1em;
}

#portfolio{
  padding: 1.5em 0 2em 0;
}

h1,
h2,
h3,
p,
ul,
.main-nav li{
  text-align: center;
}

.accomplishments ul li{
  list-style-type: none;
}

p{
  width: 75%;
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 1em;
}

hr{
  width: 90%;
}

span{
  font-size: 1.1em;
  font-weight: bolder;
}

.section-wrapper p{
  line-height: 1em;
}

/*------Layout Container Styles------*/
.header-wrapper,
.main-wrapper,
.section-wrapper,
.footer-wrapper{
  max-width: 75em;
  margin: 0 auto;
}

.col{
  margin: 0 auto;
}

/*------Image Styles------*/
img{
  display: block;
}

.main-img{
  margin: 4em 0 0 0;
  border: 8px inset #69501D;
}

.images,
.icon{
  border: 8px inset #fff;
}

.main-img,
.images{
  max-width: 20em;
  margin: 0 auto;
}

.icon{
  max-width: 10em;
  margin: 0 auto;
}

/*------Navigation Styles------*/
.main-nav li{
  list-style-type: none;
  background-color: #fff;
  margin-bottom: .3em;
  padding: .8em;
}

.main-nav li a{
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
}

a:link,
a:visited{
color: #555;
text-decoration: none;
border-bottom: 1px solid transparent;
}

a:hover{
color: #69501D;
border-bottom: 1px solid #69501D;
padding-bottom: 3px;
transition: border-bottom 0.4s, color 0.4s;
}

.backToTop{
  display: block;
  float: right;
  margin-right: .5em;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

/*-----Profile Styles------*/

.profile{
  padding: 3em 0 2em 0;
}

.profile p{
  padding-top: 1.5em;
}

/*------Footer Styles------*/

.bottomFooter p {
  display: inline;
  padding: 1em 0;
}

.bottom-nav{
  display: none;
}

.bottomName{
  margin-left: .5em;
}

@media only screen and (min-width: 768px) {

/*-------------Header Styles----------*/

.nav-container{
  width: 100%;
}

.section-wrapper{
  width: 80%;
}

.col2{
  width: 50%;
  float: right;
}

.main-nav li{
  display: inline;
  background-color: inherit;
}
.main-nav{
    text-align: center;
}

.profile p{
  width: 50%;
  margin: 0 0 0 1.5em;
  padding-top: 0em;
  text-align: left;
  font-size: 1.8em;
}

.col{
  float: left;
}

.main-img{
  max-width: 500px;
  margin-right: 1.5em;
  float: right;
}


/*-------------Main Styles----------*/
.col{
  width: 50%;
}

/*-------------Footer Styles----------*/

.backToTop{
  display: none;
}

.bottom-nav{
  display: block;
  float: right;
  padding-left: 1em;
}

.bottom-nav li{
  display: inline-block;
  padding: 0 .5em;
}

.bottom-nav li a{
  text-decoration: none;
  color: #000;
}

.bottomName,
.bottom-nav{
  font-size: 1.2em;
  font-weight: bolder;
}

  footer p{
    width: 60%;
  }
/*-------------Clearfix Styles----------*/
  .clearfix::after{
	content:"";
	display: table;
	clear: both;
     }
}

@media only screen and (min-width: 1024px) {

/*-------------Header Styles----------*/
  .name{
    float: left;
    margin-top: .3em;
    margin-left: 1.5em;
  }

  .main-nav{
      float: right;
  }

  .main-nav li{
    display: inline-block;
  }

  .profile p{
    font-size: 2em;
  }

/*-------------Main Styles----------*/
  .col{
    width: 33.33%;
  }
}
