/*Color Wheel
offwhite - #F8f8f8
*/
*{
  box-sizing: border-box;
}

/*------Base Styles------*/
body{
  background-color: #F8f8f8;
  font-family: 'Neuton', sans-serif;
  font-size: 1em;
  text-rendering: optimizeLegibility;
}

main{
  background-color: #fff;
  padding-bottom: 1em;
}

h2{
  padding-top: 2em;
}

h1,
h2,
h3,
p,
.main-nav li{
  text-align: center;
}

p{
  width: 75%;
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 1em;
}

hr{
  width: 90%;
}

span{
  font-size: 1.1em;
  font-weight: bolder;
}

/*------Layout Container Styles------*/
.header-wrapper,
.main-wrapper,
.footer-wrapper{
  max-width: 75em;
  margin: 0 auto;
}

.container{
  margin: 0 auto;
}

/*------Image Styles------*/
img{
  display: block;
}

.main-img{
  margin: 4em 0 0 0;
  padding-bottom: 2em;
}

.main-img,
.images{
  max-width: 20em;
  margin: 0 auto;
}

/*------Navigation Styles------*/
.main-nav li{
  list-style-type: none;
  background-color: #fff;
  margin-bottom: .3em;
  padding: .8em;
}

.main-nav li a{
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
}

.backToTop{
  float: right;
  margin-right: .5em;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.bottomFooter2{
  display: none;
}
/*-----Profile Styles------*/

.profile{
  padding: 3em 0 2em 0;
}

/*------Footer Styles------*/

.bottomFooter p {
  display: inline;
  padding: 1em 0;
}

.bottomName{
  margin-left: .5em;
}

@media only screen and (min-width: 768px) {

/*-------------Header Styles----------*/
.profile p{
  width: 50%;
  margin: 0 0 0 1.5em;
  text-align: left;
  font-size: 1.8em;
}


.container,
.main-img{
  float: right;
}

.main-img{
  max-width: 500px;
  margin-right: 1.5em;
}

.main-nav{
    display: block;
    text-align: center;
}

.container{
  width: 50%;
}

div .bottomFooter2 .main-nav{
    display: inline;
    margin: 0 auto;
    text-align: center;
    float: right;
}

.bottomName,
.bottomFooter2,
.main-nav li{
  display: inline-block;
  background-color: inherit;
}

  .bottomFooter{
    display: none;
  }

  .bottomFooter2{
    padding-bottom: 5em;
  }

 .bottomFooter2 .bottomName{
    font-weight: bold;
  }

.bottomFooter2 .main-nav a{
    font-size: 1em;
  }


  footer p{
    width: 60%;
  }

  .clearfix::after{
	content:"";
	display: table;
	clear: both;
     }
}

@media only screen and (min-width: 1024px) {

  h1{
    margin-top: 5px;
  }

  .profile p{
    font-size: 2em;
  }

  .container{
    width: 33.33%;
  }

  .main-nav{
      float: right;
  }

  .name{
    float: left;
  }
}
